<div>

    <!-- Main navbar -->
    <secure-header>
    </secure-header>
    <!-- /main navbar -->


    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main sidebar -->
            <!-- @include('structure/sidebar') -->
            <!-- <sidebar></sidebar> -->
            <sidebar class="sidebar sidebar-main"></sidebar>
            <!-- /main sidebar -->


            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Page header -->
                <div class="page-header page-header-default">
                    <div class="page-header-content">
                        <div class="page-title">
                            <h4>
                                <i class="icon-arrow-left52 position-left"></i>
                                <span class="text-semibold">
                                    CCM Plan Summary
                                </span>
                                <!-- - Record -->
                            </h4>
                        </div>

                        <!-- <div class="heading-elements">
                            <div class="heading-btn-group">
                                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i>
                                    <span>Invoices</span></a>
                                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i>
                                    <span>Schedule</span></a>
                            </div>
                        </div> -->
                    </div>

                    <div class="breadcrumb-line">
                        <ul class="breadcrumb">
                            <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
                            <li>User Managment</li>
                            <li class="active">CCM Plan</li>
                        </ul>

                        <!-- <ul class="breadcrumb-elements">
                            <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-gear position-left"></i>
                                    Settings
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
                                    <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
                                    <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                                </ul>
                            </li>
                        </ul> -->
                    </div>
                </div>
                <!-- /page header -->


                <!-- Content area -->
                <div class="content">



                    <!-- Page Sub Content -->
                    <!-- @yield('content') -->


                    <!-- <div class="row">
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">Support Staffs<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>

                            </div>




                        </div>
                    </div> -->



                    <!-- content -->
                    <div class="row align-item-center">
                        <div class="col-lg-12 col-md-12 col-xs-12 tr-campaign case">
                            <mat-card class="two-row-card">
                                <div class="tr-sec-box">
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <button *ngIf="generatePDFPermission" (click)="sentTo()" mat-raised-button color="primary">Send to Patient</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <!-- <mat-card-title>Patient Info</mat-card-title> -->

                                            <div class="row">

                                                <div class="col-md-2">
                                                    <div class="profile-image">
                                                        <!-- <img src="assets/images/placeholder.jpg" alt="profile_pic"> -->
                                                        <img src="{{patient?.profilePicture?.fileUploadUrl}}" alt="profile_pic">
                                                    </div>
                                                </div>

                                                <div class="col-md-10">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <!-- <label class="label-heading">{{ patient?.firstName || patient?.lastName ? patient?.firstName + " " + patient?.lastName : "NA" }}</label> -->
                                                            <h2>{{ patient?.firstName || patient?.lastName ? patient?.firstName
                                                                + " " + patient?.lastName : "NA" }}</h2>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label class="label-heading">Patient Unique Id: {{ patient?.patientUniqueId || "NA" }}</label>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label class="label-heading">Gender: {{ patient?.gender || "NA" }}</label>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label class="label-heading">Age: {{ patient?.age || "NA" }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p>{{ patient?.profileSummary || "Not Available" }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <hr>

                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="datatable-scroll">
                                                        <!-- <table class="table datatable-sorting dataTable no-footer" id="DataTables_Table_0"
                                                                            role="grid" aria-describedby="DataTables_Table_0_info"> -->
                                                        <table class="table no-footer">
                                                            <thead>
                                                                <tr role="row">
                                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="S.No: activate to sort column ascending">
                                                                        Component
                                                                    </th>
                                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Plan No.: activate to sort column ascending">
                                                                        Goal
                                                                    </th>
                                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Start Date: activate to sort column ascending">
                                                                        Instructions & Interventions
                                                                    </th>
                                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="End Date: activate to sort column ascending">
                                                                        Review
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr role="row" class="odd" *ngFor="let item of ccmPlan.items; let i=index">
                                                                    <td>
                                                                        {{ item?.name || "NA" }}
                                                                    </td>
                                                                    <td>
                                                                        <div class="row" *ngFor="let itemGoal of ccmPlan.items[i].itemGoals; let iy=index">
                                                                            {{ itemGoal?.goal || "NA" }}
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="row" *ngFor="let itemGoal of ccmPlan.items[i].itemGoals; let iy=index">
                                                                            {{ itemGoal?.intervention || "NA" }}
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="row" *ngFor="let itemGoalReview of ccmPlan.items[i].ccmPlanReviews; let iy=index">

                                                                            <div class="col-md-12">
                                                                                <!-- <div class="col-md-12"> -->
                                                                                <div>
                                                                                    <b>Goal Achieved:</b> {{ itemGoalReview?.isGoalAchieve
                                                                                    ? "Yes" : "No" }}
                                                                                </div>
                                                                                <!-- <div class="col-md-12"> -->
                                                                                <div>
                                                                                    <b>Barrier:</b> {{ itemGoalReview?.barrier
                                                                                    || "NA" }}
                                                                                </div>
                                                                                <!-- <div class="col-md-12"> -->
                                                                                <div>
                                                                                    <b>Comments:</b> {{ itemGoalReview?.reviewerComment
                                                                                    || "NA" }}
                                                                                </div>

                                                                                <hr *ngIf="iy < ccmPlan.items[i].ccmPlanReviews.length - 1">

                                                                            </div>
                                                                        </div>

                                                                        <div *ngIf="ccmPlan.items[i].ccmPlanReviews.length == 0">
                                                                            No Review Found
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="" *ngIf="(ccmPlanList?.length == 0) && !isSpinner">
                                                            <div class="snipet download-btn">
                                                                <button (click)="refreshList()" mat-raised-button>
                                                                                    <i class="material-icons">refresh</i> No Data Found
                                                                                </button>
                                                            </div>
                                                        </div>
                                                        <spinner class="spinner-box" [visible]='isSpinner'></spinner>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <!-- /content -->



                    <!-- /Page Sub Content -->





                    <!-- Footer -->
                    <!-- @include('structure/footer') -->
                    <secure-footer>
                    </secure-footer>
                    <!-- /footer -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->
    </div>
    <!-- Page container -->
</div>