<div class="align-item-center">
    <div class="col-lg-12 col-md-12 col-xs-12 tr-campaign case">

        <div class="tr-sec-box">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- <mat-card-title>General Information</mat-card-title> -->
                    <!-- <mat-card-title>General Information</mat-card-title> -->
                </div>
            </div>

            <hr>

            <div class="row">
                <!-- Unqiue Patient ID -->
                <div class="col-md-3">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Unqiue Patient ID" [(ngModel)]="unqiuePatientID">
                    </mat-form-field>
                </div>

                <!-- First Name -->
                <div class="col-md-3">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="First Name" [(ngModel)]="firstName">
                    </mat-form-field>
                </div>

                <!-- Middle Name -->
                <div class="col-md-3">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Middle Name" [(ngModel)]="middleName">
                    </mat-form-field>
                </div>

                <!-- Last Name -->
                <div class="col-md-3">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Last Name" [(ngModel)]="lastName">
                    </mat-form-field>
                </div>

                <!-- Gender -->
                <div class="col-md-3">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Gender" [(ngModel)]="gender">
                    </mat-form-field>
                </div>

                <!-- Date of Birth (DOB) -->
                <div class="col-md-3">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Date of Birth (DOB)" [(ngModel)]="dob">
                    </mat-form-field>
                </div>

                <!-- Age -->
                <div class="col-md-3">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Age" [(ngModel)]="age">
                    </mat-form-field>
                </div>

                <!-- Email Address -->
                <div class="col-md-3">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Email Address" [(ngModel)]="emailAddress">
                    </mat-form-field>
                </div>

                <!-- Primary Telephone Number  -->
                <div class="col-md-3">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Primary Telephone Number" [(ngModel)]="primaryTelephoneNumber">
                    </mat-form-field>
                </div>



            </div>

        </div>
    </div>
</div>