<div>

    <!-- Main navbar -->
    <secure-header>
    </secure-header>
    <!-- /main navbar -->


    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main sidebar -->
            <!-- @include('structure/sidebar') -->
            <!-- <sidebar></sidebar> -->
            <sidebar class="sidebar sidebar-main"></sidebar>
            <!-- /main sidebar -->


            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Page header -->
                <div class="page-header page-header-default">
                    <div class="page-header-content">
                        <div class="page-title">
                            <h4>
                                <i class="icon-arrow-left52 position-left"></i>
                                <span class="text-semibold">
                                    File Manager
                                </span>
                                <!-- - Record -->
                            </h4>
                        </div>

                        <!-- <div class="heading-elements">
                            <div class="heading-btn-group">
                                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i>
                                    <span>Invoices</span></a>
                                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i>
                                    <span>Schedule</span></a>
                            </div>
                        </div> -->
                    </div>

                    <div class="breadcrumb-line">
                        <ul class="breadcrumb">
                            <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
                            <li class="active">Dashboard</li>
                        </ul>

                        <!-- <ul class="breadcrumb-elements">
                            <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-gear position-left"></i>
                                    Settings
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
                                    <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
                                    <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                                </ul>
                            </li>
                        </ul> -->
                    </div>
                </div>
                <!-- /page header -->


                <!-- Content area -->
                <div class="content">



                    <!-- Page Sub Content -->
                    <!-- @yield('content') -->


                    <!-- <div class="row">
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">Support Staffs<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>

                            </div>




                        </div>
                    </div> -->



                    <!-- content -->
                    <div class="row align-item-center">
                        <div class="col-lg-12 col-md-12 col-xs-12 tr-campaign case">
                            <mat-card class="two-row-card">
                                <div class="tr-sec-box">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <!-- <mat-card-title>Patient Info</mat-card-title> -->
                                        </div>
                                    </div>

                                    <hr>

                                    <div class="row">
                                        <div class="col-md-12">

                                            <form [formGroup]="fileUploadFormGroup" (ngSubmit)="onSubmitFileUpload()">
                                                <div class="row">

                                                    <div class="col-md-12">

                                                        <div class="row">
                                                            <!-- Purpose -->
                                                            <div class="col-md-12">
                                                                <div class="form-field">

                                                                    <mat-form-field class="full-width">
                                                                        <textarea matInput placeholder="Purpose" formControlName="purpose" [(ngModel)]="fileUpload.fileUploadPurpose" maxlength="500"
                                                                            matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="6"
                                                                            trim></textarea>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <!-- file -->
                                                            <div class="col-md-6">
                                                                <div class="form-field">

                                                                    <mat-form-field class="full-width">
                                                                        <input matInput style="display : none" formControlName="file" (change)="changeProfilePic($event)">
                                                                        <input type="file" formControlName="file" (change)="changeProfilePic($event)" required>

                                                                        <mat-error *ngIf="fileUploadFormGroup.controls['file'].touched && fileUploadFormGroup.controls['file'].errors?.required">
                                                                            File is
                                                                            <strong>required</strong>
                                                                        </mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>


                                                        </div>

                                                    </div>

                                                </div>



                                                <div class="row">
                                                    <div class="col-md-4"></div>

                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <button type="submit" class="btn bg-blue btn-block" [disabled]="isSubmitted">
                                                                Save <i class="icon-arrow-right14 position-right"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4"></div>
                                                </div>

                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <!-- /content -->



                    <!-- /Page Sub Content -->





                    <!-- Footer -->
                    <!-- @include('structure/footer') -->
                    <secure-footer>
                    </secure-footer>
                    <!-- /footer -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->
    </div>
    <!-- Page container -->
</div>