<div class="align-item-center">
    <div class="col-lg-12 col-md-12 col-xs-12 tr-campaign case">

        <div class="tr-sec-box">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- <mat-card-title>General Information</mat-card-title> -->
                    <!-- <mat-card-title>General Information</mat-card-title> -->
                </div>
            </div>

            <hr>

            <form [formGroup]="preventiveScreeningFormGroup">

                <div class="row">
                    <div class="col-md-12">

                        <h1>Preventive Screening</h1>

                        <div class="row" formArrayName="form">
                            <div class="col-md-12">

                                <div class="row"
                                    *ngFor="let X of preventiveScreeningFormGroup['controls'].form['controls']; let i = index"
                                    [formGroupName]="i">

                                    <div class="col-sm-12">


                                        <div class="row">

                                            <!-- isPatientExamined -->
                                            <div class="col-md-12">

                                                <!-- [checked]="checked" -->

                                                <!-- <h2>Question {{ i + 1 }}</h2> -->

                                                <h3>{{ preventiveScreenAnswers[i].name || "NA" }} ?</h3>

                                                <mat-slide-toggle color="primary" formControlName="isPatientExamined"
                                                    [(ngModel)]="preventiveScreenAnswers[i].answer.isPatientExamined">
                                                    Yes
                                                </mat-slide-toggle>
                                            </div>

                                            <!-- Comment -->
                                            <div class="col-md-12">
                                                <div class="form-field">
                                                    <mat-form-field class="full-width">
                                                        <textarea matInput placeholder="Comment"
                                                            formControlName="answer"
                                                            [(ngModel)]="preventiveScreenAnswers[i].answer.description"
                                                            maxlength="500" matTextareaAutosize matAutosizeMinRows="2"
                                                            matAutosizeMaxRows="4" trim></textarea>
                                                        <!-- <mat-error>
                                                    Detail Answer is
                                                    <strong>required</strong>
                                                </mat-error> -->
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                        </div>

                                        <!-- <hr> -->
                                        <hr class="line-dash">
                                    </div>

                                    <div class="col-md-12 text-right" *ngIf="addPatientRecordPagePermission">
                                        <!-- *ngIf="preventiveScreenAnswers.length > minQuestionAnswer" -->
                                        <!-- <button *ngIf="preventiveScreenAnswers.length > minQuestionAnswer" mat-raised-button
                                            color="primary" (click)="remove(i)">Remove</button> -->
                                        <button *ngIf="!(preventiveScreenAnswers[i].answer.id)" mat-raised-button
                                            color="primary" (click)="onAddUpdatePsAnswer(i)">
                                            <!-- Add -->
                                            Save
                                        </button>
                                        <button *ngIf="preventiveScreenAnswers[i].answer.id" mat-raised-button
                                            color="primary" (click)="onAddUpdatePsAnswer(i)">
                                            <!-- Update -->
                                            Save
                                        </button>

                                        <!-- <hr> -->
                                        <hr class="line-dash">
                                        <!-- <div class="line-dash"></div> -->
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="row" *ngIf="false">
                    <div class="col-md-4"></div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <button type="submit" class="btn bg-blue btn-block" [disabled]="isSubmitted">
                                Save <i class="icon-arrow-right14 position-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>

            </form>

            <hr>

            <form [formGroup]="diabetesSupplementalFormGroup">

                <div class="row">
                    <div class="col-md-12">

                        <h1>Diabetes supplemental (if member is diabetic)</h1>

                        <div class="row" formArrayName="form">
                            <div class="col-md-12">

                                <div class="row"
                                    *ngFor="let X of diabetesSupplementalFormGroup['controls'].form['controls']; let i = index"
                                    [formGroupName]="i">

                                    <div class="col-sm-12">


                                        <div class="row">

                                            <!-- isPatientMeasure -->
                                            <div class="col-md-12">

                                                <!-- [checked]="checked" -->

                                                <!-- <h2>Question {{ i + 1 }}</h2> -->

                                                <h3>{{ diabeteSupplementAnswers[i].name || "NA" }} ?</h3>

                                                <mat-slide-toggle color="primary" formControlName="isPatientMeasure"
                                                    [(ngModel)]="diabeteSupplementAnswers[i].answer.isPatientMeasure">
                                                    Yes
                                                </mat-slide-toggle>
                                            </div>

                                            <!-- Comment -->
                                            <div class="col-md-12">
                                                <div class="form-field">
                                                    <mat-form-field class="full-width">
                                                        <textarea matInput placeholder="Comment"
                                                            formControlName="answer"
                                                            [(ngModel)]="diabeteSupplementAnswers[i].answer.description"
                                                            maxlength="500" matTextareaAutosize matAutosizeMinRows="2"
                                                            matAutosizeMaxRows="4" trim></textarea>
                                                        <!-- <mat-error>
                                                            Detail Answer is
                                                            <strong>required</strong>
                                                        </mat-error> -->
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                        </div>

                                        <!-- <hr> -->
                                        <hr class="line-dash">
                                    </div>

                                    <div class="col-md-12 text-right" *ngIf="addPatientRecordPagePermission">
                                        <!-- *ngIf="diabeteSupplementAnswers.length > minQuestionAnswer" -->
                                        <!-- <button *ngIf="diabeteSupplementAnswers.length > minQuestionAnswer" mat-raised-button
                                            color="primary" (click)="remove(i)">Remove</button> -->
                                        <button *ngIf="!(diabeteSupplementAnswers[i].answer.id)" mat-raised-button
                                            color="primary" (click)="onAddUpdateDsAnswer(i)">
                                            <!-- Add -->
                                            Save
                                        </button>
                                        <button *ngIf="diabeteSupplementAnswers[i].answer.id" mat-raised-button
                                            color="primary" (click)="onAddUpdateDsAnswer(i)">
                                            <!-- Update -->
                                            Save
                                        </button>

                                        <!-- <hr> -->
                                        <hr class="line-dash">
                                        <!-- <div class="line-dash"></div> -->
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="row" *ngIf="false">
                    <div class="col-md-4"></div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <button type="submit" class="btn bg-blue btn-block" [disabled]="isSubmitted">
                                Save <i class="icon-arrow-right14 position-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>

            </form>

        </div>
    </div>
</div>