<div class="sidebar sidebar-main">
  <div class="sidebar-content">

    <!-- User menu -->
    <div class="sidebar-user">
      <div class="category-content">
        <div class="media">
          <a href="#" class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
          <div class="media-body">
            <span class="media-heading text-semibold">Super Admin</span>
            <div class="text-size-mini text-muted">
              <i class="icon-pin text-size-small"></i> &nbsp;Santa Ana, CA
            </div>
          </div>


        </div>
      </div>
    </div>
    <!-- /user menu -->


    <!-- Main navigation -->
    <div class="sidebar-category sidebar-category-visible">
      <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">

          <!-- Main -->
          <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
          <li class="active"><a href="home.html"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
          <li>
            <a href="#"><i class=" icon-users"></i> <span>User Managment</span></a>
            <ul>
              <li><a href="admin.html">Admin Users</a></li>
              <li><a href="advocates.html">Advocates</a></li>
              <li><a href="doctors.html">Doctors</a></li>
              <li><a href="patient.html">Patients</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="icon-user-check"></i> <span>Role Managment</span></a>
            <ul>
              <li><a href="role.html">Role Users</a></li>
              <li><a href="groups.html">Groups</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="icon-ticket"></i> <span>Tickets Managment</span></a>
            <ul>
              <li><a href="tickets.html">Tickets</a></li>
            </ul>
          </li>

          <li>
            <a href="#"><i class=" icon-calendar5"></i> <span>Appointment Managment</span></a>
            <ul>
              <li><a href="appointment.html">Appointments</a></li>
            </ul>
          </li>

          <li>
            <a href="#"><i class="icon-folder"></i> <span>File Manager</span></a>
            <ul>
              <li><a href="files.html">Files</a></li>
            </ul>
          </li>

          <li>
            <a href="#"><i class="icon-stats-dots"></i> <span>Reports</span></a>
            <ul>
              <li><a href="daily_reports.html">Daily Reports</a></li>
              <li><a href="summary.html">Complete Summary</a></li>
            </ul>
          </li>
          <!-- /page kits -->

        </ul>
      </div>
    </div>
    <!-- /main navigation -->

  </div>
</div>