<!-- <div class="sidebar sidebar-main"> -->
<div class="sidebar-content">

  <!-- User menu -->
  <div class="sidebar-user">
    <div class="category-content">
      <div class="media">
        <a class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
        <div class="media-body">
          <span class="media-heading text-semibold">{{ user?.firstName || "NA"}}</span>
          <div class="text-size-mini text-muted">
            <!-- <i class="icon-pin text-size-small"></i> &nbsp;Santa Ana, CA -->
            &nbsp;{{ user?.roleName || "NA"}}
          </div>
        </div>


      </div>
    </div>
  </div>
  <!-- /user menu -->


  <!-- Main navigation -->
  <div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
      <ul class="navigation navigation-main navigation-accordion">

        <!-- Main -->
        <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
        <li class="active">
          <a *ngIf="user?.roleCode == 'super_admin'" [routerLink]="['/home/admin']"><i class="icon-home4"></i> <span>Dashboard</span></a>
          <a *ngIf="!(user?.roleCode == 'super_admin')" [routerLink]="['/home/other']"><i class="icon-home4"></i> <span>Dashboard</span></a>
        </li>

        <li *ngIf="(adminListPagePermission || facilitatorListPagePermission || doctorListPagePermission || patientListPagePermission || supportStaffListPagePermission)">
          <a>
            <i class=" icon-users"></i>
            <span>User Managment</span>
          </a>
          <ul>
            <li *ngIf="adminListPagePermission">
              <a [routerLink]="['/um/list/admin']">Super Admin</a>
            </li>
            <li *ngIf="facilitatorListPagePermission">
              <a [routerLink]="['/um/list/facilitator']">Facilitator</a>
            </li>
            <li *ngIf="doctorListPagePermission">
              <a [routerLink]="['/um/list/doctor']">Doctor</a>
            </li>
            <li *ngIf="patientListPagePermission">
              <a [routerLink]="['/um/list/patient']">Patient</a>
            </li>
            <li *ngIf="supportStaffListPagePermission">
              <a [routerLink]="['/um/list/supStaff']">Support Staff</a>
            </li>
            <!-- <li><a [routerLink]="['/um/invite/doctor']">Invite Doctors</a></li> -->
            <!-- <li><a [routerLink]="['/um/invite/patient']">Invite Patients</a></li> -->
          </ul>
        </li>
        <li>
          <a><i class="icon-user-check"></i> <span>Role Permission</span></a>
          <ul>
            <li><a [routerLink]="['/rm/assign/permission']">Role</a></li>
          </ul>
        </li>

        <li>
          <a><i class="icon-user-check"></i> <span>Appointment Management</span></a>
          <ul>
            <li><a [routerLink]="['/']">Appointments</a></li>
          </ul>
        </li>

        <li>
          <a><i class="icon-user-check"></i> <span>Scheduler</span></a>
          <ul>
            <li><a [routerLink]="['/schedule/add']">Add Schedule</a></li>
            <li><a [routerLink]="['/schedule/view']">View Schedule</a></li>
          </ul>
        </li>


        <li>
          <a><i class="icon-ticket"></i> <span>Tickets Managment</span></a>
          <ul>
            <li><a [routerLink]="['/']">Tickets</a></li>
          </ul>
        </li>

        <li>
          <a><i class=" icon-calendar5"></i> <span>CCM Plan</span></a>
          <ul>
            <li><a [routerLink]="['/']">Plans</a></li>
          </ul>
        </li>

        <li>
          <a><i class=" icon-calendar5"></i> <span>Emails</span></a>
          <ul>
            <li><a [routerLink]="['/']">Invite Email</a></li>
          </ul>
        </li>

        <li>
          <a><i class="icon-folder"></i> <span>File Manager</span></a>
          <ul>
            <li><a [routerLink]="['/']">Upload by Doctor</a></li>
            <li><a [routerLink]="['/']">Upload by Patient</a></li>
            <li><a [routerLink]="['/']">Upload by Facilitator</a></li>
            <li><a [routerLink]="['/']">Upload by Support Staff</a></li>
          </ul>
        </li>

        <li>
          <a><i class="icon-stats-dots"></i> <span>Reports</span></a>
          <ul>
            <li><a [routerLink]="['/']">Daily Reports</a></li>
            <li><a [routerLink]="['/']">Complete Summary</a></li>
          </ul>
        </li>
        <!-- /page kits -->

      </ul>
    </div>
  </div>
  <!-- /main navigation -->

</div>
<!-- </div> -->