<!-- <div class="sidebar sidebar-main"> -->
<div class="sidebar-content">

  <!-- User menu -->
  <div class="sidebar-user">
    <div class="category-content">
      <div class="media">
        <a class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
        <div class="media-body">
          <span class="media-heading text-semibold">{{ user?.firstName || "NA"}}</span>
          <div class="text-size-mini text-muted">
            <!-- <i class="icon-pin text-size-small"></i> &nbsp;Santa Ana, CA -->
            &nbsp;{{ user?.role?.roleName || "NA"}}
          </div>
        </div>


      </div>
    </div>
  </div>
  <!-- /user menu -->


  <!-- Main navigation -->
  <div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
      <ul class="navigation navigation-main navigation-accordion">

        <!-- Main -->
        <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
        <li class="active">
          <!-- <a *ngIf="user?.roleCode == 'super_admin'" [routerLink]="['/home/admin']"><i class="icon-home4"></i> <span>Dashboard</span></a>
          <a *ngIf="!(user?.roleCode == 'super_admin')" [routerLink]="['/home/other']"><i class="icon-home4"></i> <span>Dashboard</span></a> -->
          <a *ngIf="user?.role?.roleCode == 'super_admin'" [routerLink]="['/home/admin']"><i class="icon-home4"></i>
            <span>Dashboard</span></a>
          <a *ngIf="!(user?.role?.roleCode == 'super_admin')" [routerLink]="['/home/other']"><i class="icon-home4"></i>
            <span>Dashboard</span></a>
        </li>

        <li *ngIf="(adminListPagePermission || facilitatorListPagePermission || doctorListPagePermission || patientListPagePermission || supportStaffListPagePermission || inviteFacilitatorPagePermission)">
          <a (click)="expandRow(1)">
            <i class=" icon-users"></i>
            <span>User Managment</span>
            <span>
              <i class="right-ico fa" [ngClass]="(1 === expandedIndex) ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </span>
          </a>
          <ul class="sub" [ngClass]="(1 === expandedIndex) ? 'show' : ''">
            <span *ngIf="1 === expandedIndex">


              <li *ngIf="adminListPagePermission">
                <a [routerLink]="['/um/list/admin']">Super Admin</a>
              </li>
              <li *ngIf="facilitatorListPagePermission">
                <a [routerLink]="['/um/list/facilitator']">Facilitator</a>
              </li>
              <li *ngIf="doctorListPagePermission">
                <a [routerLink]="['/um/list/doctor']">Doctor</a>
              </li>
              <li *ngIf="patientListPagePermission">
                <a [routerLink]="['/um/list/patient']">Patient</a>
              </li>
              <li *ngIf="supportStaffListPagePermission">
                <a [routerLink]="['/um/list/supStaff']">Support Staff</a>
              </li>
              <li *ngIf="inviteFacilitatorPagePermission">
                <a [routerLink]="['/um/invite/facilitator']">Invite Facilitator</a>
              </li>
              <!-- <li><a [routerLink]="['/um/invite/doctor']">Invite Doctors</a></li> -->
              <!-- <li><a [routerLink]="['/um/invite/patient']">Invite Patients</a></li> -->

            </span>
          </ul>
        </li>

        <li>
          <a (click)="expandRow(2)">
            <i class="icon-user-check"></i>
            <span>Role Permission</span>
            <span>
              <i class="right-ico fa" [ngClass]="(2 === expandedIndex) ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </span>
          </a>
          <ul class="sub" [ngClass]="(2 === expandedIndex) ? 'show' : ''">
            <span *ngIf="2 === expandedIndex">
              <li><a [routerLink]="['/rm/assign/permission']">Role</a></li>
            </span>
          </ul>
        </li>

        <li *ngIf="user.role.roleCode == 'doctor' && (pendingRequestListPagePermission || acceptedRequestListPagePermission || rejectedRequestListPagePermission || true)">
          <a (click)="expandRow(3)">
            <i class="icon-user-check"></i>
            <span>Appointment Management</span>
            <span>
              <i class="right-ico fa" [ngClass]="(3 === expandedIndex) ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </span>
          </a>
          <ul class="sub" [ngClass]="(3 === expandedIndex) ? 'show' : ''">
            <span *ngIf="3 === expandedIndex">
              <li *ngIf="pendingRequestListPagePermission || true"><a [routerLink]="['/appointment/d/list/p']">Appointment
                  Request</a></li>
              <li *ngIf="acceptedRequestListPagePermission || true"><a [routerLink]="['/appointment/d/list/a']">Appointment
                  Accept</a></li>
              <li *ngIf="rejectedRequestListPagePermission || true"><a [routerLink]="['/appointment/d/list/r']">Appointment
                  Reject</a></li>
            </span>
          </ul>
        </li>

        <li *ngIf="user.role.roleCode == 'patient' && (pendingRequestListPagePermission || acceptedRequestListPagePermission || rejectedRequestListPagePermission ||true)">
          <a (click)="expandRow(3)">
            <i class="icon-user-check"></i>
            <span>Appointment Management</span>
            <span>
              <i class="right-ico fa" [ngClass]="(3 === expandedIndex) ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </span>
          </a>
          <ul class="sub" [ngClass]="(3 === expandedIndex) ? 'show' : ''">
            <span *ngIf="3 === expandedIndex">
              <li *ngIf="pendingRequestListPagePermission || true"><a [routerLink]="['/appointment/p/list/p']">Appointment
                  Request</a></li>
              <li *ngIf="acceptedRequestListPagePermission || true"><a [routerLink]="['/appointment/p/list/a']">Appointment
                  Accept</a></li>
              <li *ngIf="rejectedRequestListPagePermission || true"><a [routerLink]="['/appointment/p/list/r']">Appointment
                  Reject</a></li>
            </span>
          </ul>
        </li>

        <li *ngIf="(doctorScheduleListPagePermission || viewDoctorSchedulePagePermission)">
          <a (click)="expandRow(4)">
            <i class="icon-user-check"></i>
            <span>Scheduler</span>
            <span>
              <i class="right-ico fa" [ngClass]="(4 === expandedIndex) ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </span>
          </a>
          <ul class="sub" [ngClass]="(4 === expandedIndex) ? 'show' : ''">
            <span *ngIf="4 === expandedIndex">
              <!-- <li *ngIf="addDoctorSchedulePagePermission"><a [routerLink]="['/schedule/add']">Add Schedule</a></li> -->
              <li *ngIf="doctorScheduleListPagePermission"><a [routerLink]="['/schedule/list']">My Schedule</a></li>
              <li *ngIf="viewDoctorSchedulePagePermission"><a [routerLink]="['/schedule/view']">View Schedule</a></li>
            </span>
          </ul>
        </li>

        <li>
          <a (click)="expandRow(10)">
            <i class="icon-stats-dots"></i>
            <span>Forum</span>
            <span>
              <i class="right-ico fa" [ngClass]="(10 === expandedIndex) ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </span>
          </a>
          <ul class="sub" [ngClass]="(10 === expandedIndex) ? 'show' : ''">
            <span *ngIf="10 === expandedIndex">
              <li><a [routerLink]="['/']">Add New</a></li>
              <li><a [routerLink]="['/forum/feed']">Feed</a></li>
            </span>
          </ul>
        </li>

        <li>
          <a (click)="expandRow(5)">
            <i class="icon-ticket"></i>
            <span>Tickets Managment</span>
            <span>
              <i class="right-ico fa" [ngClass]="(5 === expandedIndex) ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </span>
          </a>
          <ul class="sub" [ngClass]="(5 === expandedIndex) ? 'show' : ''">
            <span *ngIf="5 === expandedIndex">
              <li><a [routerLink]="['/']">Tickets</a></li>
            </span>
          </ul>
        </li>

        <li>
          <a (click)="expandRow(6)">
            <i class=" icon-calendar5"></i>
            <span>CCM Plan</span>
            <span>
              <i class="right-ico fa" [ngClass]="(6 === expandedIndex) ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </span>
          </a>
          <ul class="sub" [ngClass]="(6 === expandedIndex) ? 'show' : ''">
            <span *ngIf="6 === expandedIndex">
              <li><a [routerLink]="['/']">Plans</a></li>
            </span>
          </ul>
        </li>

        <li>
          <a (click)="expandRow(7)">
            <i class=" icon-calendar5"></i>
            <span>Emails</span>
            <span>
              <i class="right-ico fa" [ngClass]="(7 === expandedIndex) ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </span>
          </a>
          <ul class="sub" [ngClass]="(7 === expandedIndex) ? 'show' : ''">
            <span *ngIf="7 === expandedIndex">
              <li><a [routerLink]="['/']">Invite Email</a></li>
            </span>
          </ul>
        </li>

        <li>
          <a (click)="expandRow(8)">
            <i class="icon-folder"></i>
            <span>File Manager</span>
            <span>
              <i class="right-ico fa" [ngClass]="(8 === expandedIndex) ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </span>
          </a>
          <ul class="sub" [ngClass]="(8 === expandedIndex) ? 'show' : ''">
            <span *ngIf="8 === expandedIndex">
              <li><a [routerLink]="['/']">Upload by Doctor</a></li>
              <li><a [routerLink]="['/']">Upload by Patient</a></li>
              <li><a [routerLink]="['/']">Upload by Facilitator</a></li>
              <li><a [routerLink]="['/']">Upload by Support Staff</a></li>
            </span>
          </ul>
        </li>

        <li>
          <a (click)="expandRow(9)">
            <i class="icon-stats-dots"></i>
            <span>Reports</span>
            <span>
              <i class="right-ico fa" [ngClass]="(9 === expandedIndex) ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </span>
          </a>
          <ul class="sub" [ngClass]="(9 === expandedIndex) ? 'show' : ''">
            <span *ngIf="9 === expandedIndex">
              <li><a [routerLink]="['/']">Daily Reports</a></li>
              <li><a [routerLink]="['/']">Complete Summary</a></li>
            </span>
          </ul>
        </li>
        <!-- /page kits -->

      </ul>
    </div>
  </div>
  <!-- /main navigation -->

</div>
<!-- </div> -->