<div>

    <!-- Main navbar -->
    <secure-header>
    </secure-header>
    <!-- /main navbar -->


    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main sidebar -->
            <!-- @include('structure/sidebar') -->
            <!-- <sidebar></sidebar> -->
            <sidebar class="sidebar sidebar-main"></sidebar>
            <!-- /main sidebar -->


            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Page header -->
                <div class="page-header page-header-default">
                    <div class="page-header-content">
                        <div class="page-title">
                            <h4>
                                <i class="icon-arrow-left52 position-left"></i>
                                <span class="text-semibold">
                                    CCM Plan - Review
                                </span>
                                <!-- - Record -->
                            </h4>
                        </div>

                        <!-- <div class="heading-elements">
                            <div class="heading-btn-group">
                                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i>
                                    <span>Invoices</span></a>
                                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i>
                                    <span>Schedule</span></a>
                            </div>
                        </div> -->
                    </div>

                    <div class="breadcrumb-line">
                        <ul class="breadcrumb">
                            <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
                            <li class="active">Dashboard</li>
                        </ul>

                        <!-- <ul class="breadcrumb-elements">
                            <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-gear position-left"></i>
                                    Settings
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
                                    <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
                                    <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                                </ul>
                            </li>
                        </ul> -->
                    </div>
                </div>
                <!-- /page header -->


                <!-- Content area -->
                <div class="content">



                    <!-- Page Sub Content -->
                    <!-- @yield('content') -->


                    <!-- <div class="row">
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">Support Staffs<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>

                            </div>




                        </div>
                    </div> -->



                    <!-- content -->
                    <div class="row align-item-center">
                        <div class="col-lg-12 col-md-12 col-xs-12 tr-campaign case">
                            <mat-card class="two-row-card">
                                <div class="tr-sec-box">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <mat-card-title>Patient Info</mat-card-title>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <label class="label-heading">Patient Name</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <!-- {{ patient?.firstName || "NA" }} -->
                                                            {{ patient?.firstName || patient?.lastName ? patient?.firstName + " " + patient?.lastName : "NA" }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <label class="label-heading">Patient Unique Id</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                            {{ patient?.patientUniqueId || "NA" }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <label class="label-heading">Gender</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                            {{ patient?.gender || "NA" }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <label class="label-heading">Age</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                            {{ patient?.age || "NA" }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <hr>

                                    <div class="row">
                                        <div class="col-md-12">

                                            <form [formGroup]="ccmPlanReviewFormGroup" (ngSubmit)="onSubmitCcmPlanReview()">
                                                <div class="row">

                                                    <div class="col-md-12">

                                                        <div class="row">
                                                            <!-- Plan Number -->
                                                            <div class="col-md-6">
                                                                <div class="form-field">
                                                                    <mat-form-field class="full-width">
                                                                        <input matInput placeholder="Plan Number" [(ngModel)]="ccmPlan.planNumber" [ngModelOptions]="{standalone: true}" readonly>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <!-- Review Date -->
                                                            <div class="col-md-6">
                                                                <div class="form-field">

                                                                    <!-- [min]="ccmPlan.reviewDate" -->
                                                                    <mat-form-field class="full-width">
                                                                        <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker" placeholder="Review Date" formControlName="reviewDate"
                                                                            [(ngModel)]="ccmPlanReview.reviewDate" (dateChange)="dateChanged($event, 'reviewDate')"
                                                                            required readonly>
                                                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                                        <mat-datepicker #picker></mat-datepicker>

                                                                        <mat-error *ngIf="ccmPlanReviewFormGroup.controls['reviewDate'].touched && ccmPlanReviewFormGroup.controls['reviewDate'].errors?.required">
                                                                            Review Date is
                                                                            <strong>required</strong>
                                                                        </mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-field">

                                                                    <mat-form-field class="full-width">
                                                                        <mat-select placeholder="Select Component" formControlName="component" [(ngModel)]="ccmPlanReview.ccmPlanItemName" (change)="onComponentChange()">
                                                                            <mat-option>None</mat-option>
                                                                            <mat-option *ngFor="let component of componentList" [value]="component.name">
                                                                                {{ component.name }}
                                                                            </mat-option>
                                                                        </mat-select>
                                                                        <mat-error *ngIf="ccmPlanReviewFormGroup.controls['component'].touched && ccmPlanReviewFormGroup.controls['component'].errors?.required">
                                                                            Component is
                                                                            <strong>required</strong>
                                                                        </mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-field">

                                                                    <mat-form-field class="full-width">
                                                                        <mat-select placeholder="Select Goal" formControlName="goal" [(ngModel)]="ccmPlanReview.ccmPlanItemGoalId" (change)="onGoalChange()">
                                                                            <mat-option>None</mat-option>
                                                                            <mat-option *ngFor="let goal of goalList" [value]="goal.id">
                                                                                {{ goal.goalNumber }}
                                                                            </mat-option>
                                                                        </mat-select>
                                                                        <mat-error *ngIf="ccmPlanReviewFormGroup.controls['goal'].touched && ccmPlanReviewFormGroup.controls['goal'].errors?.required">
                                                                            Goal is
                                                                            <strong>required</strong>
                                                                        </mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-12">
                                                                <div class="form-field">

                                                                    <mat-form-field class="full-width">
                                                                        <input matInput placeholder="Goal Description" value="{{ccmPlanReview.ccmPlanItemGoal.goal || 'NA' }}" readonly>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">

                                                                <h3>Goal Achieve</h3>

                                                                <mat-slide-toggle color="primary" formControlName="goalAcheive" [(ngModel)]="ccmPlanReview.isGoalAchieve">
                                                                    Yes
                                                                </mat-slide-toggle>

                                                            </div>

                                                            <div class="col-md-12">
                                                                <div class="form-field">
                                                                    <mat-form-field class="full-width">
                                                                        <input matInput placeholder="Barrier" formControlName="barrier" [(ngModel)]="ccmPlanReview.barrier">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-12">
                                                                <div class="form-field">
                                                                    <mat-form-field class="full-width">
                                                                        <input matInput placeholder="Comment" formControlName="comment" [(ngModel)]="ccmPlanReview.reviewerComment">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>


                                                        </div>


                                                    </div>

                                                </div>



                                                <div class="row">
                                                    <div class="col-md-4"></div>

                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <button type="submit" class="btn bg-blue btn-block" [disabled]="isSubmitted">
                                                                Save <i class="icon-arrow-right14 position-right"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4"></div>
                                                </div>

                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <!-- /content -->



                    <!-- /Page Sub Content -->





                    <!-- Footer -->
                    <!-- @include('structure/footer') -->
                    <secure-footer>
                    </secure-footer>
                    <!-- /footer -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->
    </div>
    <!-- Page container -->
</div>