
.thead-veemed
{
    font-size: 0.75rem;
    background-color: #00aecc;
    color: #ffffff;
}
.tbody-veemed
{
    font-size: 0.75rem;
}

.veemed-avialable-button
{
    border: none;
}

.veemed-button-hover:hover
{
    background-color:#00aecc;
    color: #ffffff;
}

div.table-container {
    height: 280px;
    overflow-x: hidden;
    overflow-y: auto;
}


input, button, submit { border:none; } 

select {
      /* styling */
  background-color: white;
  border: thin solid #00aecc;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.side-list {
    background-color: #f5f5f5;
    min-height: 100%;
}

.side-list h2 {
    background-color: #01aecc;
    color: #fff;
    font-size: 15px;
    font-weight: 400 !important;
    font-family: "Roboto";
    border: none;
    padding: 10px;
    white-space: nowrap;
    margin: 0;
}

.list-area {
    padding: 0;
    height: 100%;
}

button.list-btn {
    display: block;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #d4d4d4;
    background: transparent;
    font-size: 13px;
    cursor: pointer;
    color: #666;
}

button.list-btn:hover {
    background-color: #ddd;
    color: #212121;
    transition: all 200ms linear; 
}
button.list-btn:focus {
    background-color: #ddd;
    color: #212121;
    transition: all 200ms linear; 
}

/* Table */
th {
    min-width: 100px !important;
    color: white !important;
}

.table-container {
    padding: 0 0 0;
}

table.vm-table {
    display: table;
}

table.table.vm-table thead th {
    background-color: #01aecc;
    color: #fff;
    font-size: 15px;
    font-weight: 400 !important;
    font-family: "Roboto";
    border: none;
    padding: 10px;
    white-space: nowrap;
}
table.vm-table tbody tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
table.vm-table td {
    font-size: 14px;
    font-weight: 400;
    color: #666;
    border-top: none;
    vertical-align: middle;
}
i.blue {
    color: #01aecc;
}

.home-dialog {
    min-width: 80vw;
}

button {
    outline: none !important;
}

.mat-dialog-title h2 {
    margin: 0;
    font-size: 18px;
}

.time-zone label {
    margin: 0;
}
.time-zone {
    font-size: 16px;
}

.bg-selection {
    background-color: rgba(0,0,0,0.2);
}

.highlight {
    background-color: rgba(0,0,0,0.1);
}

.radio-button-spacing 
{
    margin-right: 10px;
}

.mat-dialog-title {
    min-height: 66px !important;
    margin: 0 0 0 0 !important;
}
.mat-dialog-content {
    height: calc(100% - 110px) !important;
    max-height: calc(100% - 110px) !important;
}

select.vm-select {
    background-color: #fff;
    border: thin solid #cccccc;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    color: #666;
    padding: 2px 5px;
    margin: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    vertical-align: middle;
    outline: none;
}

.prefix-vmselect {
    vertical-align: middle;
    padding: 5px 5px 5px 0;
}

