<div mat-dialog-title class="clearfix">
    <h2 class="float-left">{{ data.day }}, {{ data.monthInWords }} {{ data.date }}, {{ data.year }}</h2>
    <div class="float-right time-zone">
        <label>View Start Date & Time in: </label>
        <!-- <mat-radio-group (change)="changeTimeZone($event.value)">
            <mat-radio-button class="radio-button-spacing" value="1">Local</mat-radio-button>
            <mat-radio-button class="radio-button-spacing" value="1">UTC</mat-radio-button>
            <mat-radio-button class="radio-button-spacing" [checked]="true" value="1">Specialists</mat-radio-button>
        </mat-radio-group> -->
        <mat-form-field class="mlm">
            <mat-select [(value)]="defaultZone" (change)="changeTimeZone($event.value)">
                <mat-option [value]="1">Local Timezone</mat-option>
                <mat-option [value]="2">UTC</mat-option>
                <mat-option [value]="3">Supervisor Timezone</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<mat-dialog-content class="home-dialog">
    <div style="margin: auto; margin-top: 100px;" [hidden]="hiddenLoader">
        <mat-spinner [diameter]=80></mat-spinner>
    </div>
    <div class="row align-items-center">
        <div class="col-md-3">
            <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions" class="table-container">
                <div class="side-list" [hidden]="!hiddenLoader">
                    <h2>Available Supervisor</h2>
                    <div class="list-area">
                        <button class="list-btn" 
                            *ngFor="let doctor of listOfDoctors" (click)="selectDoctor(doctor.id)">
                            {{ doctor.lastName.charAt(0).toUpperCase() + doctor.lastName.slice(1) }}, {{ doctor.firstName.charAt(0).toUpperCase() }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 text-center" [hidden]="!hiddenLoader">
            <button (click)="add(doctorId)" mat-mini-fab color="primary">
                <mat-icon aria-label="hidden">navigate_next</mat-icon>
            </button>
            <br>
            <br>
            <button (click)="remove(doctorId)" mat-mini-fab color="primary">
                <mat-icon aria-label="hidden">navigate_before</mat-icon>
            </button>
        </div>
        <div class="col-md-8">
            <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions" class="table-container">
                <div [hidden]="hiddenList" class="table-responsive">
                    <table class="table vm-table">
                        <thead>
                            <tr>
                                     
                                <!-- <th>id</th> -->
                                <th>Name</th>
                                <th>Priority</th>
                                <th>Time Zone</th>
                                <th>Start Date</th>
                                <th>Start Time</th>
                                <th>Shift Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr [class.highlight]="doctor.id == doctorId" *ngFor='let doctor of selectedDoctor' (click)="selectDoctor(doctor.id)">
                            <!-- <td>{{doctor.id }}</td> -->
                                <td>{{ doctor.lastName.charAt(0).toUpperCase() + doctor.lastName.slice(1) }}, {{ doctor.firstName.charAt(0).toUpperCase() }}</td>
                                <td>
                                    <mat-form-field class="full-width">
                                        <mat-select [(ngModel)]="doctor.Priority" (change)="setPriority($event.value, doctor.id)">
                                            <mat-option *ngFor="let p of priorities" [value]="p.id">{{ p.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <span>{{ doctor.timeZoneDescription }}</span>
                                    <!-- <span *ngIf="findSign(doctor.UtcDSTOffsetInSeconds) == -1">
                                        UTC -0{{ -1 * doctor.UtcDSTOffsetInSeconds/3600 }}
                                    </span>
                                    <span *ngIf="findSign(doctor.UtcDSTOffsetInSeconds) == 1">
                                        UTC +0{{ doctor.UtcDSTOffsetInSeconds/3600 }}
                                    </span> -->
                                </td>
                                <td>
                                    <div *ngIf="timeZone == 'Specialist'">
                                        <span class="prefix-vmselect" >{{ doctor.displayStartDate }}</span>
                                    </div>
                                    <div *ngIf="timeZone == 'UTC'">
                                        <span class="prefix-vmselect" >{{ doctor.displayStartDateInUTC }}</span>
                                    </div>
                                    <div *ngIf="timeZone == 'Local'">
                                        <span class="prefix-vmselect" >{{ doctor.displayStartDateInLocal }}</span>
                                    </div>
                                </td>
                                <td>
                                    <div *ngIf="timeZone == 'Specialist'">
                                        <select class="vm-select"
                                            (change)="changedStartTime({ hour: $event.target.value, minute: doctor.displayStartTime.minute }, doctor.UtcDSTOffsetInSeconds, doctor.id, 'h')"
                                            [(ngModel)]="doctor.displayStartTime.hour">
                                            <option selected disabled [value]="undefined">HH</option>
                                            <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
                                        </select>
                                        <select class="vm-select"
                                            (change)="changedStartTime({ minute: $event.target.value, hour: doctor.displayStartTime.hour }, doctor.UtcDSTOffsetInSeconds, doctor.id, 'm')"
                                            [(ngModel)]="doctor.displayStartTime.minute">
                                            <option selected disabled [value]="undefined">MM</option>
                                            <option *ngFor="let minute of minutes" [value]="minute">{{minute}}</option>
                                        </select>
                                    </div>
                                    <div *ngIf="timeZone == 'UTC'">
                                        <select class="vm-select"
                                        (change)="changedStartTime({ hour: $event.target.value, minute: doctor.displayStartTimeInUTC.minute }, doctor.UtcDSTOffsetInSeconds, doctor.id, 'h')" 
                                            [(ngModel)]="doctor.displayStartTimeInUTC.hour">
                                            <option selected disabled [value]="undefined">HH</option>
                                            <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
                                        </select>
                                        <select class="vm-select"
                                        (change)="changedStartTime({ minute: $event.target.value, hour: doctor.displayStartTimeInUTC.hour }, doctor.UtcDSTOffsetInSeconds, doctor.id, 'm')"
                                        [(ngModel)]="doctor.displayStartTimeInUTC.minute">
                                            <option selected disabled [value]="undefined">MM</option>
                                            <option *ngFor="let minute of minutes" [value]="minute">{{minute}}</option>
                                        </select>
                                    </div>
                                    <div *ngIf="timeZone == 'Local'">
                                        <select class="vm-select"
                                        (change)="changedStartTime({ hour: $event.target.value, minute: doctor.displayStartTimeInLocal.minute }, doctor.UtcDSTOffsetInSeconds, doctor.id, 'h')"
                                            [(ngModel)]="doctor.displayStartTimeInLocal.hour">
                                            <option selected disabled [value]="undefined">HH</option>
                                            <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
                                        </select>
                                        <select class="vm-select"
                                        (change)="changedStartTime({ minute: $event.target.value, hour: doctor.displayStartTimeInLocal.hour }, doctor.UtcDSTOffsetInSeconds, doctor.id, 'm')"
                                        [(ngModel)]="doctor.displayStartTimeInLocal.minute">
                                            <option selected disabled [value]="undefined">MM</option>
                                            <option *ngFor="let minute of minutes" [value]="minute">{{minute}}</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <mat-form-field class="full-width">
                                        <mat-select [(ngModel)]="doctor.Shift" (change)="setShift($event.value, doctor.id)">
                                            <mat-option *ngFor="let s of shifts" [value]="s.id">{{ s.durationInHours }} Hours</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <span style="color:red" *ngIf="error">
                {{ error }}
            </span>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="text-right full-width" [hidden]="hiddenSaveLoader">
        <mat-spinner [diameter]=40></mat-spinner>
    </div>
    <div class="text-right full-width" [hidden]="!hiddenSaveLoader">
        <button mat-button mat-dialog-close (click)="close()">Cancel</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button [disabled]="timeZone == 'Local'" mat-button color="primary" (click)="save()">Save</button>
    </div>
</mat-dialog-actions>