<div class="dialog-box-content">
    <form name="form" [formGroup]="formRegister" (keydown.enter)="$event.preventDefault()">
        <mat-progress-bar mode="indeterminate" *ngIf="isSubmitted"></mat-progress-bar>
        <div class="row align-item-center">
            <div class="col-md-12">
                <h1 mat-dialog-title>Add New</h1>
            </div>

            <div class="col-md-12">

                <div class="row">

                    <!-- Patient Unique Id -->
                    <div class="col-md-6" *ngIf="newUser.role.roleCode == 'patient'">
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" class="form-control" placeholder="Patient Unique Id" formControlName="patientUniqueId" [(ngModel)]="newUser.patientUniqueId">
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>
                    </div>

                    <!-- First Name -->
                    <div class="col-md-6">
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" [(ngModel)]="newUser.firstName">
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>
                    </div>

                    <!-- Last Name -->
                    <div class="col-md-6">
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" [(ngModel)]="newUser.lastName">
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>
                    </div>

                    <!-- Country Phone Code -->
                    <div class="col-md-6">
                        <!-- <div class="form-field"> -->
                        <div class="has-feedback has-feedback-left">
                            <mat-form-field class="full-width">
                                <mat-select [(ngModel)]="newUser.countryPhoneCode" formControlName="phoneCode" placeholder="Select Country Phone Code" required>
                                    <mat-option>None</mat-option>
                                    <mat-option value="+1">+1</mat-option>
                                    <mat-option value="+92">+92</mat-option>
                                </mat-select>
                                <!-- <mat-error *ngIf="formRegister.controls['designationId'].errors?.required">
                                            Designation is
                                            <strong>required</strong>
                                        </mat-error> -->
                            </mat-form-field>

                        </div>
                    </div>

                    <!-- Mobile Number -->
                    <div class="col-md-6">
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="number" class="form-control" placeholder="Mobile Number" formControlName="mobileNumber" [(ngModel)]="newUser.mobileNumber">
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>
                    </div>

                    <!-- Telephone Number -->
                    <div class="col-md-6">
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="number" class="form-control" placeholder="Telephone Number" formControlName="telephoneNumber" [(ngModel)]="newUser.phoneNumber">
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>
                    </div>

                    <!-- Email Address -->
                    <div class="col-md-6">
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="email" class="form-control" placeholder="Email Address" formControlName="email" [(ngModel)]="newUser.email">
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>
                    </div>

                    <!-- Functional Title -->
                    <div class="col-md-6" *ngIf="newUser.role.roleCode !== 'patient'">
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" class="form-control" placeholder="Functional Title" formControlName="functionalTitle" [(ngModel)]="newUser.functionalTitle">
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>
                    </div>

                    <!-- Office Address -->
                    <div class="col-md-12">
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" class="form-control" placeholder="Office Address" formControlName="officeAddress" [(ngModel)]="newUser.officeAddress">
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>
                    </div>

                    <!-- Residential Address -->
                    <div class="col-md-12">
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" class="form-control" placeholder="Residential Address" formControlName="residentialAddress" [(ngModel)]="newUser.residentialAddress">
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div mat-dialog-actions class="row align-item-center dialog-btn-contianer">
            <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                <button mat-raised-button tabindex="-1" (click)="onNoClick()">CANCEL</button>

                <span matTooltipPosition="above" matTooltip="{{!formRegister.valid ? 'Fill the required field' : buttonTooltip}}">
                    <button mat-raised-button [disabled]="!formRegister.valid || isSubmitted" color="primary" (click)="onSubmit()"
                        tabindex="2">SUBMIT</button>
                </span>
            </div>
        </div>
    </form>

</div>

<!-- <h2 mat-dialog-title>User Form</h2>
<mat-dialog-content class="mat-typography">

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions> -->