<div>

    <!-- Main navbar -->
    <secure-header>
    </secure-header>
    <!-- /main navbar -->


    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main sidebar -->
            <!-- @include('structure/sidebar') -->
            <!-- <sidebar></sidebar> -->
            <sidebar class="sidebar sidebar-main"></sidebar>
            <!-- /main sidebar -->


            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Page header -->
                <div class="page-header page-header-default">
                    <div class="page-header-content">
                        <div class="page-title">
                            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Forum</span>
                                <!-- - Patients -->
                            </h4>
                        </div>

                        <!-- <div class="heading-elements">
                            <div class="heading-btn-group">
                                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i>
                                    <span>Invoices</span></a>
                                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i>
                                    <span>Schedule</span></a>
                            </div>
                        </div> -->
                    </div>

                    <div class="breadcrumb-line">
                        <ul class="breadcrumb">
                            <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
                            <li class="active">Dashboard</li>
                        </ul>

                        <!-- <ul class="breadcrumb-elements">
                            <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-gear position-left"></i>
                                    Settings
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
                                    <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
                                    <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                                </ul>
                            </li>
                        </ul> -->
                    </div>
                </div>
                <!-- /page header -->


                <!-- Content area -->
                <div class="content">

                    <div class="row">
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">Forum<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>

                            </div>

                            <div class="panel-body">
                                <span matTooltipPosition="above" matTooltip="{{!addPermission ? 'Dont have permission' : 'Add New' }}">
                                    <button type="button" class="btn btn-default btn-sm" [disabled]="!addPermission"
                                        (click)="openAddUpdateForumDialog()">
                                        Add New
                                        <i class="icon-play3 position-right"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row align-item-center">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header>
                            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                            <mat-card-content>
                                <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                                    from Japan.
                                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                    originally
                                    bred for hunting.
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <!-- <button mat-button>LIKE</button> -->
                                <button mat-button>Comment</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="row align-item-center">
                        <!-- Forum -->
                        <div class="col-md-8">
                            <div class="newsfeed" *ngFor="let newsFeed of newsFeeds; let $index=index;">
                                <div class="feed-by clearfix">
                                    <!-- <img class="feed-owner-thumb" src="assets/images/placeholder.jpg"> -->
                                    <a class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm"
                                            alt=""></a>
                                    <!-- <img class="feed-owner-thumb" src="{{newsFeed?.basicInfo?.owner?.profilePic?.thumbnails?.large?.url}}"> -->

                                    <div class="feed-creator-info">
                                        <div class="name">{{ newsFeed?.basicInfo?.owner?.name }}</div>
                                        <div class="time-loc">
                                            <!-- <a>2 hrs ago</a> -->
                                            <a>{{ newsFeed?.createdOn }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="feed-details">
                                    <div class="feed-content">
                                        {{ newsFeed?.title }}
                                    </div>
                                    <div class="feed-content">
                                        {{ newsFeed?.description }}
                                    </div>
                                    <div class="feed-img">
                                        <!-- <img src="assets/img/hbt.jpeg"> -->
                                    </div>
                                    <div class="feed-stats"></div>
                                    <div class="feed-action mbs pbs br-btm">
                                        <span class="action-item" (click)="loadComment(newsFeed, $index)">
                                            <i class="fa fa-comment"></i>
                                            {{ newsFeed?.commentCount }}
                                            Comment
                                        </span>
                                    </div>
                                    <div class="feed-comments">
                                        <div class="view-more" *ngIf="newsFeed.viewMoreComment < newsFeed.commentList?.length">
                                            <span (click)="newsFeed.viewMoreComment = newsFeed.viewMoreComment + 5 <= newsFeed.commentList.length ? newsFeed.viewMoreComment + 5 : newsFeed.commentList.length">
                                                View previous comments
                                            </span>
                                        </div>
                                        <div class="other-comments">

                                            <div class="other-comment-box clearfix" *ngFor="let data of newsFeed.commentList | slice: viewMore(newsFeed.viewMoreComment, newsFeed.commentList.length) ; let $index1=index;">
                                                <!-- <div class="other-comment-box clearfix" *ngFor="let data of newsFeed.commentsDetail.list; let $index1=index;"> -->


                                                <!-- <img class="comment-box-thumb-self" src="assets/img/unilever.png" alt="profile-pic"> -->
                                                <!-- <img class="comment-box-thumb-self" src="{{data?.commentBy?.profilePic?.data?.thumbnails?.small?.url}}"
                                                    alt="profile-pic"> -->
                                                <div class="comment" *ngIf="!data?.isEdit">
                                                    <a class="comment-name">{{data?.commentBy?.name}}</a>{{data?.comment}}
                                                    <div class="time-loc">
                                                        <a>{{data?.commentDate}}</a>
                                                        <!-- <span>Edit</span> -->
                                                        <span class="comment-action" *ngIf="((user.id == data?.createdBy))"
                                                            (click)="onEdit($index,$index1)">Edit</span>
                                                        <span class="comment-action" *ngIf="((user.id == data?.createdBy))"
                                                            (click)="onDelete($index, $index1, data.commentId)">Delete</span>
                                                    </div>

                                                </div>

                                                <div class="comment-type" *ngIf="data?.isEdit">
                                                    <input type="text" placeholder="Comment" name="comment" value="{{data?.comment}}"
                                                        (keyup.enter)="updateComment($event, newsFeed, data.commentId, $index,$index1)">
                                                    <span class="comment-action" (click)="onCancel($index,$index1)">Cancel</span>
                                                </div>


                                            </div>

                                        </div>

                                        <div class="self-comment-box clearfix" *ngIf="newsFeed.isComment">
                                            <!-- <img class="comment-box-thumb-self" src="assets/images/placeholder.jpg" alt="profile-pic"> -->
                                            <!-- <img class="comment-box-thumb-self" src="{{user?.profilePic?.thumbnails?.small?.url}}"
                                                alt="profile-pic"> -->
                                            <div class="comment-type">
                                                <input type="text" placeholder="Comment" name="comment" (keyup.enter)="addComment($event, newsFeed.id, $index)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button (click)="loadMore()">Load More</button>
                        </div>
                        <!-- End of Forum -->

                    </div>


                    <!-- Dashboard content -->
                    <div>

                    </div>
                    <!-- /dashboard content -->



                    <!-- Footer -->
                    <!-- @include('structure/footer') -->
                    <secure-footer>
                    </secure-footer>
                    <!-- /footer -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->
    </div>
    <!-- Page container -->
</div>